body{
  height: 100%;
  flex-grow: 1;
  /* added height and flex grow -RB */
}
.list-group-item {
  line-height: 2.5;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #343a40;
  padding: 40px;
  padding-left: 0px;
  color: white;
  flex-shrink: 0;
  z-index: 3;
  position: fixed;
  bottom: 0;
  /* added bottom, position, zindex, flex shrink -RB*/
}
.row, header{
  width: 100%;
  margin: auto;
  position: relative;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgba(160, 23, 23, 0.836)
}

body {
  background-size: cover;
  text-align: center;
}

.intro {
  height: 550px;
  background-image: linear-gradient(rgba(56, 56, 55, 0.479), rgba(114, 113, 113, 0.5)), url("../assets/images/imgseven.jpg");
  background-size: cover;

}

.introText {
  color: white;
  letter-spacing: 2px;
  font-family: 'Nunito', sans-serif;
}

#introDiv {
  background-color: rgba(112, 109, 109, 0.288);
  width: 800px;
  margin: auto;
  border-radius: 10px;
  line-height: 1.5;
  font-size: 20px;
  padding: 10px;
}

.businessReg {
  height: 550px;
  background-image: linear-gradient(rgba(56, 56, 55, 0.479), rgba(114, 113, 113, 0.5)), url("../assets/images/imgone.jpg");
  background-size: cover;
}

.volunteerReg {
  height: 550px;
  background-image: linear-gradient(rgba(56, 56, 55, 0.479), rgba(114, 113, 113, 0.5)), url("../assets/images/imgtwo.jpg");
  background-size: cover;
}

.donate {
  height: 550px;
  background-image: linear-gradient(rgba(56, 56, 55, 0.479), rgba(114, 113, 113, 0.5)), url("../assets/images/imgfive.jpg");
  background-size: cover;
}

.newsRoom {
  height: 550px;
  background-image: linear-gradient(rgba(56, 56, 55, 0.479), rgba(114, 113, 113, 0.5)), url("../assets/images/imgsix.jpg");
  background-size: cover;
}
#bodynews{
  margin: auto;
  width: 100%;
  text-align: justify;
  font-weight: bold; 
}
thead{
  text-align: left;
}
#shadows {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px #ced0d3;
  color: white;
  letter-spacing: -0.05em;
  font-family: 'Anton', Arial, sans-serif;
  user-select: none;
  font-size: 60px;
  transition: all 0.25s ease-out;
}

#h2shadows {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 30px #ced0d3;
  color: white;
  letter-spacing: 1;
  font-family: 'Anton', Arial, sans-serif;
  user-select: none;
  transition: all 0.25s ease-out;
  text-align: center;
  padding: auto;
  padding-bottom: 50px;
  padding-top: 200px;
  top: 20px;
  animation: text-shadow 1.5s ease-in-out;
}

h1 {
  color: white;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  animation: text-shadow 1.5s ease-in-out;
  font-size: 4em;
}

div {
  text-align: center;
}

button {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: rgb(60,60,60);
  border-radius: 20px;
  background: white;
  margin: 10px;
  padding: 9px 10px;
}

form {
  /* text-align: center; */
  padding: 200px;
  padding-top: 10px;
}

.form {
  padding: 200px;
  padding-top: 0px;
}

h5 {
  text-align: left;
}

.volRegisterButton {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: rgb(60,60,60);
  border-radius: 20px;
  background: white;
  margin: 10px;
  padding: 9px 10px;
  margin-right: 30px;
}

.findVolButton {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: rgb(60,60,60);
  border-radius: 20px;
  background: white;
  margin: 10px;
  padding: 9px 10px;
}

#messagefld {
  padding-bottom: 300px;
  padding-top: 15px;
 
}

#confirm{
  color: rgba(160, 23, 23, 0.836);
}

.work {
  position: relative;
  float: left;
  width: 274px;
  height: 200px;
  margin: 20px;
  overflow: auto;
  margin-left: 50px;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.9;
}

.work h4 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #D9D9D6;
  border-bottom: 0;
  font-family: 'Poiret One', cursive;
  border-radius: 5px;
  opacity: 0.8;
  color: black;
}

h2 {
  text-align: left;
  margin: 20px;
  margin-left: 50px;
  font-family: 'Poiret One', cursive;
}

.img {
  float: left;
  margin-top: 20px;
  margin-right: 15px;
}

#contactLink {
  color: grey;
}
